In [2]:
import pandas as pd
from google.colab import files
import io

In [3]:
uploaded = files.upload()

Saving 2_taxi_nyc.csv to 2_taxi_nyc.csv

In [4]:
taxi = pd.read_csv(io.BytesIO(uploaded['2_taxi_nyc.csv']))

In [5]:
taxi.shape

(29101, 14)

In [6]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [7]:
taxi.columns

Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb',
       'temp', 'dewp', 'slp', 'pcp 01', 'pcp 06', 'pcp 24', 'sd'],
      dtype='object')

In [8]:
taxi = taxi.rename(columns={'pcp 01' : 'pcp_01', 'pcp 06' : 'pcp_06', 'pcp 24' : 'pcp_24'})

In [9]:
taxi.query("borough == 'Brooklyn'").value_counts()

pickup_dt            pickup_month  borough   pickups  hday  spd   vsb    temp  dewp  slp     pcp_01  pcp_06  pcp_24  sd
2015-01-01 01:00:00  Jan           Brooklyn  1519     Y     5.0   10.00  30.0  7.0   1023.5  0.0     0.0     0.0     0.000000     1
2015-05-01 22:00:00  May           Brooklyn  1129     N     5.0   10.00  54.0  39.0  1014.0  0.0     0.0     0.0     0.000000     1
2015-05-01 08:00:00  May           Brooklyn  647      N     5.0   10.00  50.0  39.0  1013.2  0.0     0.0     0.0     0.000000     1
2015-05-01 09:00:00  May           Brooklyn  704      N     7.0   10.00  50.0  39.0  1013.2  0.0     0.0     0.0     0.000000     1
2015-05-01 10:00:00  May           Brooklyn  601      N     7.0   10.00  49.0  39.0  1013.7  0.0     0.0     0.0     0.000000     1
                                                                                                                                 ..
2015-03-02 14:00:00  Mar           Brooklyn  263      N     5.0   6.00   34.0  25.0  1019.4  0.0     0.0     0.0     11.875000    1
2015-03-02 15:00:00  Mar           Brooklyn  274      N     9.5   8.05   34.0  20.5  1020.0  0.0     0.0     0.0     12.083333    1
2015-03-02 16:00:00  Mar           Brooklyn  299      N     15.0  9.55   34.0  17.5  1021.1  0.0     0.0     0.0     12.291667    1
2015-03-02 17:00:00  Mar           Brooklyn  337      N     11.0  10.00  36.0  13.0  1020.9  0.0     0.0     0.0     12.500000    1
2015-06-30 23:00:00  Jun           Brooklyn  990      N     7.0   10.00  75.0  65.0  1011.8  0.0     0.0     0.0     0.000000     1
Length: 4343, dtype: int64

In [10]:
taxi.borough.value_counts()

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

In [11]:
taxi.pickups.sum()

14265773

In [16]:
taxi \
    .groupby('borough', as_index = False) \
    .agg({'pickups' : 'sum'}) \
    .sort_values('pickups', ascending = False)

         borough   pickups
3      Manhattan  10367841
1       Brooklyn   2321035
4         Queens   1343528
0          Bronx    220047
5  Staten Island      6957
2            EWR       105

⭐️Задание со звёздочкой!⭐️

Еще несколько полезных методов в pandas! Возможно, в предыдущем степе вы просто посмотрели на данные или отсортировали значения. Ускорить данный процесс в дальнейшем помогут методы idxmin() и idxmax(), которые возвращают индекс минимального или максимального значения.

idxmin – индекс минимального значения
idxmax – индекс максимального значения
Сохраните название района с наименьшим числом поездок в переменную min_pickups, применив подходящий метод.

Исходные данные сохранены в переменную taxi.

In [17]:
min_pickups = taxi \
        .groupby('borough') \
        .agg({'pickups' : 'sum'}) \
        .idxmin()

In [18]:
min_pickups

pickups    EWR
dtype: object

10.
Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor.

Обратите внимание, что итоговый датасет должен состоять из 3-х колонок - pickup_month, borough, pickups.

Данные сохранены в переменную taxi.

In [19]:
pickups_by_mon_bor = taxi \
    .groupby(['borough','pickup_month'], as_index = False) \
    .agg({'pickups' : 'sum'}) \
    .sort_values('pickups', ascending = False)

In [20]:
pickups_by_mon_bor

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

11. Теперь задача посложнее! Попрактикуемся в написании собственных функций и их применении к датафрейму. Поскольку данные о поездках в Нью-Йорке, температура представлена в градусах Фаренгейта. 

Напишите функцию temp_to_celcius, которая получает на вход колонку с температурой в °F и возвращает значения, переведенные в градусы Цельсия.

In [53]:
def temp_to_celcius(Fahrenheit):
  return ((Fahrenheit - 32) * 5) / 9

In [54]:
taxi['temp'][:5]

0    30.0
1    30.0
2    30.0
3    30.0
4    30.0
Name: temp, dtype: float64

In [55]:
taxi['temp_C'] = temp_to_celcius(taxi['temp'])

In [57]:
taxi['temp_C'][:5]

0   -1.111111
1   -1.111111
2   -1.111111
3   -1.111111
4   -1.111111
Name: temp_C, dtype: float64