# Минипроект

### Импорт необходимых библиотек:

In [6]:
import pandas as pd

### Чтение из файла:

In [9]:
bookings = pd.read_csv('e:bookings.csv', sep = ';')

In [10]:
bookings_head = bookings.head(7) #№1

In [11]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

### Размер таблицы (датафрейма):

In [8]:
bookings.shape

(119390, 21)

### Типы данных:

In [9]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

### №4. Переименование названий столбцов

#### 1-й способ. В ручную. Не эффективный.

In [404]:
#bookings = bookings.rename(columns={'Hotel' : 'hotel', 'Is Canceled' : 'is_canceled', 'Lead Time' : 'lead_time', 'arrival full date' : 'arrival_full_date', 'Arrival Date Year' : 'arrival_date_year', 'Arrival Date Month' : 'arrival_date_month', 'Arrival Date Week Number' : 'arrival_date_week_number', 'Arrival Date Day of Month' : 'arrival_date_day_of_month', 'Stays in Weekend nights' : 'stays_in_weekend_nights', 'Stays in week nights' : 'stays_in_week_nights', 'stays total nights' : 'stays_total_nights', 'Adults' : 'adults', 'Children' : 'children', 'Babies' : 'babies', 'Meal' : 'meal', 'Country' : 'country', 'Reserved Room Type' : 'reserved_room_type', 'Assigned room type' : 'assigned_room_type', 'customer type' : 'customer_type', 'Reservation Status' : 'reservation_status', 'Reservation status_date' : 'reservation_status_date'})

#### 2-й способ. Уже получше.

In [405]:
#bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

#### 3-й способ. С помощью циклов. Автоматическое заполнение.

In [406]:
bookings.columns # все столбцы

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [407]:
rename_cols = {}
for col in bookings.columns:
    rename_cols[col] = col.replace(' ', '_').lower()

In [408]:
rename_cols # Словарь из старых и новых названий столбцов.

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [409]:
bookings = bookings.rename(columns=rename_cols)

In [410]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [411]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [412]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

### №5. Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

##### Мое решение:

In [203]:
bookings\
    .query("is_canceled == 0")\
    .groupby('country', as_index=False)\
    .agg({'is_canceled' : 'count'})\
    .sort_values('is_canceled', ascending= False) \
    .head(5)

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

##### Способ попроще:

In [205]:
bookings.query('is_canceled == 0') \
    .country \
    .value_counts()[:5] # с

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

### №6. На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

##### 1-й способ:

In [207]:
bookings.groupby('hotel', as_index=False).agg({'stays_total_nights' : 'mean'}).round(2) # №4

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

##### 2-й способ:

In [211]:
bookings.groupby('hotel').stays_total_nights.mean().round(2) #

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

### №7. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [218]:
bookings.assigned_room_type

0         C
1         C
2         C
3         A
4         A
         ..
119385    A
119386    E
119387    D
119388    A
119389    A
Name: assigned_room_type, Length: 119390, dtype: object

In [219]:
bookings.reserved_room_type

0         C
1         C
2         A
3         A
4         A
         ..
119385    A
119386    E
119387    D
119388    A
119389    A
Name: reserved_room_type, Length: 119390, dtype: object

In [240]:
bookings[['assigned_room_type', 'reserved_room_type']].query('assigned_room_type != reserved_room_type').shape[0]

14917

### №8. Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [270]:
bookings[['arrival_date_year', 'arrival_date_month']]

        arrival_date_year arrival_date_month
0                    2015               July
1                    2015               July
2                    2015               July
3                    2015               July
4                    2015               July
...                   ...                ...
119385               2017             August
119386               2017             August
119387               2017             August
119388               2017             August
119389               2017             August

[119390 rows x 2 columns]

#### Тут сортировка по месяцам за все года:

In [269]:
bookings[['arrival_date_year', 'arrival_date_month']].value_counts()

arrival_date_year  arrival_date_month
2017               May                   6313
2016               October               6203
2017               April                 5661
                   June                  5647
2016               May                   5478
                   April                 5428
                   September             5394
2017               July                  5313
2016               June                  5292
2015               September             5114
2016               August                5063
2017               March                 4970
2015               October               4957
2017               August                4925
2016               March                 4824
                   July                  4572
                   November              4454
2017               February              4177
2016               February              3891
2015               August                3889
2016               December              3860
2017               January               3681
2015               December              2920
                   July                  2776
                   November              2340
2016               January               2248
dtype: int64

#### Решение по годам:

In [266]:
bookings.query('arrival_date_year == 2016').arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [265]:
bookings.query('arrival_date_year == 2017').arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

#### Ещё одна попытка без сортировки(а как с сортировкой???):

In [354]:
bookings\
    .groupby(['arrival_date_year', 'arrival_date_month'])\
    .aggregate({'arrival_date_month' : 'count'})

                                      arrival_date_month
arrival_date_year arrival_date_month
2015              August                            3889
                  December                          2920
                  July                              2776
                  November                          2340
                  October                           4957
                  September                         5114
2016              April                             5428
                  August                            5063
                  December                          3860
                  February                          3891
                  January                           2248
                  July                              4572
                  June                              5292
                  March                             4824
                  May                               5478
                  November                          4454
                  October                           6203
                  September                         5394
2017              April                             5661
                  August                            4925
                  February                          4177
                  January                           3681
                  July                              5313
                  June                              5647
                  March                             4970
                  May                               6313

#### Такое решение я хотела:

In [389]:
bookings\
    .groupby('arrival_date_year')\
    .arrival_date_month\
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             5114
                   October               4957
                   August                3889
                   December              2920
                   July                  2776
                   November              2340
2016               October               6203
                   May                   5478
                   April                 5428
                   September             5394
                   June                  5292
                   August                5063
                   March                 4824
                   July                  4572
                   November              4454
                   February              3891
                   December              3860
                   January               2248
2017               May                   6313
                   April                 5661
                   June                  5647
                   July                  5313
                   March                 4970
                   August                4925
                   February              4177
                   January               3681
Name: arrival_date_month, dtype: int64

### №9. Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

#### Мой способ без сортировки:

In [394]:
bookings.query('hotel == "City Hotel"')\
    .groupby(['arrival_date_year', 'arrival_date_month'])\
    .aggregate({'is_canceled' : 'count'})

                                      is_canceled
arrival_date_year arrival_date_month
2015              August                     2480
                  December                   1654
                  July                       1398
                  November                   1235
                  October                    3386
                  September                  3529
2016              April                      3561
                  August                     3378
                  December                   2478
                  February                   2371
                  January                    1364
                  July                       3131
                  June                       3923
                  March                      3046
                  May                        3676
                  November                   3122
                  October                    4219
                  September                  3871
2017              April                      3919
                  August                     3125
                  February                   2594
                  January                    2372
                  July                       3559
                  June                       3971
                  March                      3412
                  May                        4556

#### Правильное решение:

In [382]:
(
    bookings
        .query('hotel == "City Hotel" and is_canceled == 1')
        .groupby(['arrival_date_year'])
        .arrival_date_month
        .value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

###  №10. Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [428]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [432]:
bookings[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [435]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

### №11. Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим? В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

#### 1-й способ:

In [447]:
bookings = bookings.assign(total_kids = bookings.children + bookings.babies)

In [449]:
bookings.total_kids.mean()

0.11183890908481732

In [455]:
bookings[['hotel', 'total_kids']].groupby(['hotel']).mean().round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

#### 2-й способ:

In [460]:
bookings['total_kids'] = bookings['children'] + bookings['babies'] # тут можно и через точку обращаться к сущ-им

In [463]:
(
    
bookings.groupby('hotel')
    .agg({'total_kids' : 'mean'})
    .round(2)
    
)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

### №12. Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.
#### Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.
#### В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!
### Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

#### 1-я попытка:

#### Число людей с детьми:

In [574]:
count = 0
for i in bookings.total_kids:
    if i > 0:
        count += 1
print(count)

9332

#### Без детей:

In [575]:
count = 0
for i in bookings.total_kids:
    if i < 1:
        count += 1
print(count)

110054

In [583]:
110054 + 9332 # чет не сходится

119386

#### Отмененные с детьми:

In [591]:
(
    bookings
    .query('is_canceled == 1 and total_kids > 0')
    .groupby('is_canceled')
    .agg({'is_canceled' : 'count'})
    
)

             is_canceled
is_canceled
1                   3259

#### Отменненые без детей:

In [578]:
(
    bookings
    .query('is_canceled == 1 and total_kids < 1')
    .groupby('is_canceled')
    .agg({'is_canceled' : 'count'})
    
)

             is_canceled
is_canceled
1                  40961

#### Всего отмененных:

In [579]:
(
    bookings
    .query('is_canceled == 1')
    .groupby('is_canceled')
    .agg({'is_canceled' : 'count'})
    
)

             is_canceled
is_canceled
1                  44224

In [595]:
3259+40961 # где 4 брони? Так есть у них дети или нет?!

44220

#### Просто всего отмененных и не отмененных:

In [504]:
(
    bookings
    .groupby('is_canceled')
    .agg({'is_canceled' : 'count'})
    
)

             is_canceled
is_canceled
0                  75166
1                  44224

In [505]:
75166+44224

119390

In [524]:
3259/119390 *100

2.7297093558924534

In [605]:
40961/119390 *100

34.30856855683055

#### Новая попытка

In [634]:
bookings['has_kids'] = bookings.total_kids > 0

In [635]:
bookings.has_kids

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [636]:
bookings.has_kids.value_counts()

False    110058
True       9332
Name: has_kids, dtype: int64

In [637]:
bookings.query('is_canceled == 1').groupby('has_kids').agg({'is_canceled' : 'count'})

          is_canceled
has_kids
False           40965
True             3259

In [638]:
bookings.groupby(['is_canceled', 'has_kids']).agg({'has_kids' : 'count'})

                      has_kids
is_canceled has_kids
0           False        69093
            True          6073
1           False        40965
            True          3259

In [616]:
bookings.shape

(119390, 23)

In [641]:
40965 / (69093+40965) *100

37.221283323338604

In [642]:
3259 / (6073 + 3259) *100

34.92284612087441

## Как должно быть:

#### Создание новой булевой колонки на наличие детей:

In [654]:
bookings['has_kids'] = bookings.total_kids > 0

### 1. Churn Rate для 1-й группы(без детей):

#### Все отмененные без детей:

In [655]:
cancel_no_kids = bookings.query('is_canceled == 1 and has_kids == False').shape[0]

#### Все пользователи без детей:

In [656]:
all_no_kids = bookings.query('has_kids == False').shape[0]

####  Отношение количества ушедших пользователей без детей к общему количеству пользователей без детей:

In [657]:
round(cancel_no_kids / all_no_kids * 100, 2)

37.22

### 2. Churn Rate для 2-й группы(с детьми):

#### Все отмененные с детьми:

In [659]:
cancel_with_kids = bookings.query('is_canceled == 1 and has_kids == True').shape[0]

#### Все отмененные с детьми:

In [662]:
all_with_kids = bookings.query('has_kids == True').shape[0]

####  Отношение количества ушедших пользователей с детьми к общему количеству пользователей с детьми:

In [663]:
round(cancel_with_kids / all_with_kids * 100, 2)

34.92

In [664]:
37.22 > 34.92

True